/* Estilo do rodapé */
footer {
  background-color: #333; /* Cor de fundo do rodapé */
  color: white; /* Cor do texto */
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* Layout para garantir espaço para o rodapé */
.layout {
  padding-bottom: 80px; /* Espaço para rodapé fixo */
  min-height: 100vh; /* Garante que o conteúdo ocupe ao menos 100% da altura da tela */
}

footer p {
  margin: 0;
}

@media print {
  /* Ocultar o cabeçalho durante a impressão */
  footer {
    display: none !important;
  }
}
