.print-only {
  width: 100%;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
  line-height: 1.3;
  margin: 0;
  min-width: 210mm;
}

.heading {
  font-size: 14px;
  text-align: center;
}

.print-only h1.heading {
  font-size: 18px;
  color: var(--primary-color);
}

.print-only h2 {
  font-size: 14px;
}

.section {
  margin-top: 5px;
  margin-bottom: 5px;
}

.section-heading {
  font-size: 12px;
}

.field {
  margin-bottom: 6px;
}


.two-column > div {
  flex: 1;
}

.three-column {
  display: flex;
  gap: 3px;
}

.three-column > div {
  flex: 0 0 40%;
}

.three-column > div:nth-child(2),
.three-column > div:nth-child(3) {
  flex: 0 0 30%;
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid black;
  padding: 3px;
  box-sizing: border-box;
  font-size: 12px;
}

@media print {
  body {
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
  }

  .print-only {
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: none;
    background-color: white;
  }

  .section {
    page-break-inside: avoid;
  }

  .two-column,
  .three-column {
    display: flex;
  }

  .two-column > div,
  .three-column > div {
    flex: 1;
  }

  .print-only * {
    max-width: 100%;
    overflow: hidden;
  }

  .no-print {
    display: none;
  }

  table, th, td {
    border: 1px solid black;
  }

  textarea {
    border: 1px solid black;
    background-color: white;
  }

  .three-column {
    display: flex;
    gap: 3px;
  }

  .three-column > div {
    flex: 0 0 45%;
  }
  .three-column > div:nth-child(2) {
    flex: 0 0 30%;
  }

  .three-column > div:nth-child(3) {
    flex: 0 0 25%;
  }
}